@font-face {
  font-family: "GrinchedRegular";
  src: url(./src/GrinchedRegular.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: GrinchedRegular;
  color: #ffc312;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
header {
  font-size: 3em;
  margin: 1.5rem 0;
}
.discription {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.translator-container {
  margin: 5rem 0;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  border: 5px ridge #ffc312;
  font-family: inherit;
  font-size: 2rem;
  outline: 0;
  padding: 1rem;
  letter-spacing: 2px;
  word-spacing: 5px;
}
textarea:focus {
  background-color: aqua;
}
#translate-output {
  color: #ffc312;
}
#translate-button {
  cursor: pointer;
  max-width: 200px;
}
#translate-button:hover {
  transform: rotate(-10deg);
}
